{% extends 'page.html.twig' %}

{% block content %}
	<div>
		<h2>{{ copy.identify[_lang] }}</h2>
		{% for caller in callers %}
			<p><a href="/call/{{ campaign }}/{{ caller.id }}">{{ caller.name }}</a></p>
		{% endfor %}
		<p><a class="button" href="/call/{{ campaign }}/new">{{ copy['im-new'][_lang] }}</a></p>
	</div>
{% endblock %}